<launch>

<!-- To run this launch file, type this
$roslaunch hydra_one_description urdf_visualize.launch model:='$(find hydra_one_description)/urdf/hydra_one.urdf' -->
​
  <arg name="model" default=""/>
  <param name="robot_description" command="cat $(arg model)" />
​
  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="joint_state_publisher_gui" value="TRUE"/>
  </node>
​
  
  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
​
  <!-- Show in Rviz   -->
 <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hydra_one_description)/rviz_config/hydra_one.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args=""/> -->


​
</launch>
